@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(37, 99, 235);
    --bg-gray: rgb(243, 244, 246);
}

body,
button,
input,
textarea {
    font-family: 'Roboto', sans-serif
}

.container {
    max-width: 80rem;
    margin: auto;
}

.btn-primary {
    min-height: 40px;
    padding: 0 1rem;
    outline: none;
    background: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    display: flex;
    gap: .5rem;
    align-items: center;
    max-width: fit-content;
    text-decoration: none;
}

.btn-primary:hover {
    transform: translateX(0.5rem);
}


.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    max-width: 700px;
    margin: auto;
}

.section-title .title {
    max-width: fit-content;
    padding: .2rem .5rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-radius: .8rem;
}

.section-title .sub-title {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem 0;
}

.section-title .title-desc {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 0;
    z-index: 100;
    background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

.nav-items .logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 1.5rem;
}

.nav-link {
    font-size: 1.05rem;
    text-decoration: none;
    color: black;
    transition: all .3s ease;
    font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
    color: var(--primary-color);
}



/* Hero Section */
.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/hero-1.png');
    background-size: cover;
}

.hero-section .content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-section .content h1 {
    font-size: 4rem;
    color: white;
}

.hero-section .content p {
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
}

.hero-section .content .btn-primary {
    padding: 1rem;
}

/* Mission Section */
.mission-section {
    padding: 1rem 0;
}

.mission {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.mission .video {
    width: 100%;
}

.mission .video video {
    width: 100%;
    border-radius: 1rem;
}

.mission .content {
    width: 100%;
}

.mission .content h2 {
    font-size: 2rem;
    font-weight: 700;
}

.mission .content ul {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding: 1rem 0.3rem;
    list-style: none;
}

.mission .content ul li {
    display: inline-flex;
    align-items: flex-start;
    gap: 0.7rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.mission .content ul li i {
    color: var(--primary-color);
}

/* Goal Section */
.goal-section {
    padding: 2rem;
    background: var(--bg-gray);
}

.goal-section .section-title {
    align-items: flex-start;
    margin: 0;
}

.goals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.goals img {
    width: 100%;
    border-radius: 1rem;
}

.goals .content p {
    font-size: 1.1rem;
    font-weight: 300;
}

.goals .content .items {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.goals .content .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    border: 1px solid var(--primary-color);
    padding: 1rem;
}

.goals .content .items .item i {
    font-size: 2rem;
    color: var(--primary-color);
}

.goals .content .items .item h1 {
    font-weight: 500;
}

/* Services */

.services-section {
    background: var(--bg-gray);
    padding: 2rem 0;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.service i {
    font-size: 3rem;
    color: var(--primary-color);
}

.service h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.service p {
    font-size: 1.05rem;
    font-weight: 300;
}


/* Events Section */
.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem 0;
}

.event {
    width: 100%;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
}

.event img {
    width: 100%;
    max-height: 550px;
}

.event .content {
    width: 100%;
    min-height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: var(--primary-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.event .content h3 {
    font-size: 1.5rem;
    margin-bottom: .9rem;
    font-weight: 600;
    color: white;

}

.event .content p {
    font-size: 1.05rem;
    font-weight: 300;
    color: white;
}

/* ABout Page */
.page-title .container {
    text-align: center;
}

.page-title .container h1 {
    font-size: 3rem;
    margin-bottom: 0.7rem;
    color: white;
}

/* Volunteers Section */
.volunteer-section {}

.volunteers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem 0;
}

.volunteer {
    width: 100%;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
}

.volunteer img {
    width: 100%;
    max-height: 550px;
}

.volunteer .content {
    width: 100%;
    min-height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: var(--primary-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.volunteer .content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.volunteer .content h5 {
    font-size: 1.4rem;
    font-weight: 300;
}

.volunteer .content p {
    font-size: 1.05rem;
    font-weight: 300;
    color: white;
}

.volunteer .content .social {
    display: flex;
    gap: .6rem;
    list-style: none;
}

.volunteer .content .social a {
    margin-top: 1rem;
    width: 40px;
    height: 40px;
    background: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: .2rem;
    font-size: 1.4rem;
}

.volunteer .content .social a:hover {
    background: gainsboro;
}


.page-title {
    margin-top: 5rem;
    height: 200px;
    background: url('../images/heading-bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-size: cover;
}

.about-section {
    padding: 2rem 0;
    background: var(--bg-gray);
}

.about-section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about-section .container img {
    width: 100%;
    border-radius: 1rem;
}

.about-section .content h1 {
    font-size: 2rem;
    color: var(--primary-color);
}

.about-section .content p {
    margin-top: 1rem;
    font-size: 1.05rem;
    font-weight: 300;
}

.about-section .content .btn-primary {
    margin-top: 1rem;
}

/* Footer */
footer {
    padding: 1rem 0;
    background: black;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

footer ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

footer ul li a {
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.contatct-section {
    padding: 3rem 0;
    background: var(--bg-gray);
}

.contatct-section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.contatct-section .section-title {
    align-items: flex-start;
}

.contatct-section .section-title .title-desc {
    text-align: left;
}


.informations img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.informations {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--primary-color);
    padding: 1rem;
    border-radius: .6rem;
    gap: 1rem;
    font-weight: 400;
    color: white;
    min-height: 120px;
}

.info {
    font-size: 1.05rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.info span {
    font-weight: 300;
}






form .caption {
    margin-bottom: 2rem;
}

form .caption h2 {
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 0;
}

form .caption p {
    font-weight: 300;
    font-size: 1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.input-group label {
    font-weight: 500;
}

.input-group input {
    height: 45px;
    border: 1.5px solid var(--primary-color);
    padding: 0 .8rem;
    border-radius: .4rem;
    font-size: 1rem;
}

textarea {
    padding: .8rem;
    border-radius: .4rem;
    font-size: 1rem;
    border: 1.5px solid var(--primary-color);
}

form button {
    margin-top: 1rem;
}


@media screen and (max-width: 767px) {
    .hero-section {
        height: 60vh;
    }

    .hero-section .content h1,
    .hero-section .content p {
        text-align: center;
    }

    .services-section {
        padding: 1rem;
    }

    .section-title {
        padding: 0 1rem;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
    }

    .mission-section,
    .goal-section,
    .event-section,
    .about-section .container,
    .volunteer-section,
    footer .container {
        padding: 1rem;
    }

    .mission,
    .goals,
    .events,
    .about-section .container,
    .volunteers,
    .contatct-section .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        padding: 0 1rem;
    }

    .event img {
        max-height: fit-content;
    }

    .event .content {
        min-height: 25%;
    }

    .informations {
        margin-top: 2rem;
    }
}